<div class="container">
    <div class="row">
        <div class="col text-center mt-4">
            <img src="img/mr-fresh.jpg" width="200px" height="200px" alt="Mr.Fresh">
            <h1 class="dispaly-4">Esyeha.</h1>
             <i class="lead">as FrontEnd Dev</i>
        </div>
    </div>
</div>